<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Krimi rad</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
        
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-translate.min.js"></script>    
    <script src="~/Scripts/ng-map.min.js"></script>
    @*<script src="~/Scripts/angular-google-maps.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.11.0/angular-translate-loader-static-files.min.js"></script>    
    @*@Scripts.Render("~/bundles/angular")*@
    
    @Scripts.Render("~/bundles/angularCustom")

    <base href="/" />
</head>
<body ng-app="app">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Krimi Rad", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="prijava"  aria-expanded="false"> {{ 'PRIJAVI' | translate }}</a></li>
                    <li class="right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ 'JEZIK' | translate }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" ng-controller="appctrl">
                            <li><a ng-click="switchLanguage('bs')" aria-expanded="false"> {{ 'BOSANSKI' | translate }} <span ng-show="selectedLanguage == 'bs'" class="glyphicon glyphicon-ok"></span></a></li>
                            <li><a ng-click="switchLanguage('en')" aria-expanded="false"> {{ 'ENGLESKI' | translate }} <span ng-show="selectedLanguage == 'en'" class="glyphicon glyphicon-ok"></span></a></li>
                        </ul>
                    </li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="row body-content">        
        <div ng-show="loading" class="col-md-4 col-md-offset-4 text-center">
            <div class="cssload-wrap">
                <div class="cssload-circle"></div>
                <div class="cssload-circle"></div>
                <div class="cssload-circle"></div>
                <div class="cssload-circle"></div>
                <div class="cssload-circle"></div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            @RenderBody()
        </div>
    </div>
    <hr />
    <footer>
        <p class="text-center">&copy; @DateTime.Now.Year - Krimi rad</p>
    </footer>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")    
    @RenderSection("scripts", required: false)
</body>
</html>
